@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.top{
    background-color: #37261e;
    color: #E5E7EB;
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display:flex;
    gap:16px;
    align-items: center;
    width: 70vw;
}

.header p{
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    flex: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.description{
    display:flex;
    align-items: center;
    margin: 100px 0;
    flex-wrap: wrap;
    gap: 56px;
    width: 70vw;
}

.description-text{
    flex: 1;
}

.description p{
    font-size: 18px;
    color: #E5E7EB;
    margin:8px 0px;
}

.description .source{
    font-size: 16px;
    color: #a6a7a9;
}

button{
    background-color: #20921e;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 8px;
    border-style: none;
    flex: none; 
}

.description button{
    margin-top:8px;  
}

.description img{
    flex:none;
    border-radius: 8px;
}

.content{
    margin-bottom: 100px;
}

.content h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin: 50px 0;
}

.content p{
    font-size: 18px;
    color: #1F2937;
    margin-top: 8px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:48px;
    margin: 0 16px;
}

.card{
    width: 200px;
    text-align: center;
}

.small-image-container{
    height: 200px;
    width: 200px;
}

.small-image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    border: 4px solid #20921e;
    border-radius: 8px;
}

#img-capy-with-family{
    object-position: 10%;
}

#img-capy-with-crocodile{
    object-position: 60%;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 32px;
}

.quote-content{
    display: flex;
    flex-direction: column;
}

blockquote{
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    max-width: 800px;
}

.author{
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 16px;
}

.cta{
    background-color: #20921e;
    margin: 100px auto;
    border-radius: 8px;
    width: 70vw;
    padding: 56px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
}

.cta-text{
    width: 40vw;
}

.cta p{
    font-size: 18px;
    color: #E5E7EB;
}

h3{
    font-size: 24px;
    color:#F9FAF8;
}

.cta button{
    border: 3px solid #F9FAF8;
}

.footer{
    display:flex;
    justify-content: center;
    background-color: #37261e;
    color: #E5E7EB;
    padding: 32px;
}

