@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


.main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB
}